<section class="bg-white py-16">
	<div class="container mx-auto px-6">
		<h2 class="text-4xl font-extrabold text-center text-[#201e43] mb-12">
			Our Core Values
		</h2>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-[#201e43]">
			<div
				class="bg-white p-8 rounded-2xl shadow-lg text-center transition-all hover:shadow-xl hover:-translate-y-2"
			>
				<h3 class="font-bold text-2xl mb-4 text-[#201e43]">Vision</h3>
				<p class="text-gray-600">
					To empower the next generation of IT professionals with practical
					skills and innovative thinking.
				</p>
			</div>

			<div
				class="bg-white p-8 rounded-2xl shadow-lg text-center transition-all hover:shadow-xl hover:-translate-y-2"
			>
				<h3 class="font-bold text-2xl mb-4 text-gray-800">Mission</h3>
				<p class="text-gray-600">
					To bridge the gap between learning and real-world application for IT
					students through hands-on experiences.
				</p>
			</div>

			<div
				class="bg-white p-8 rounded-2xl shadow-lg text-center transition-all hover:shadow-xl hover:-translate-y-2"
			>
				<h3 class="font-bold text-2xl mb-4 text-gray-800">Goals</h3>
				<p class="text-gray-600">
					To enhance learning, promote practical skills, foster innovation,
					build confidence, and expand our reach.
				</p>
			</div>
		</div>
	</div>
</section>
